// created variables that i later exported to other files
$headerBackgroundcolor: #273655;
$headertextcolor: white;
$sidenavBackgroundcolor: #FCFCFC;
$headerBackgroundcolor: #273655;
$headertextcolor: white;
$sidenavBackgroundcolor: #F2F1F1;
$primaryiconcolor: #F62020;
$secondaryiconcolor: #20F020;
$tertiaryiconcolor: #FFCC00;
$approved: #2AC6A8;
$inreview: #FD9C00;
$inprogress:#0BAFF1;
$modifiedleftmargin: 20px;
$rowTopandBottomPadding: 8px 0px;
$sidenavIconcolor: #050505;
